wandb
torch==2.1.0
torchvision==0.16.0
numpy==1.25.2
fastai==2.8.0
tensorboardX>=1.6
ffmpeg
ffmpeg-python
yt-dlp
jupyterlab
opencv-python>=4.2.0.32
Pillow==9.3.0
--extra-index-url https://download.pytorch.org/whl/cu113
ipywidgets
